@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li
{
  list-style-type: none;
}

a
{
  text-decoration: none;
  color: #6B7280;
}

ul
{
  margin: 0;
  padding: 0;
}

.footer,
.header
{
  display: flex;
  justify-content: space-between;
}

.header
{
  padding: 15px;
}

.footer
{
  background-color: #eeeeee;
  padding: 15px;
  margin-left: 0;
  margin-right: 0;
}

.left-links,
.right-links
{
  display: flex;
  gap: 10px;
}

.content
{
  display: flex;
  align-items: center;
  flex-direction: column; 
  gap: 10px;
}

button
{
  /* margin-top: 10px; */
  padding: 8px 16px;
}



